.btn {
  display: block;
  font: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.6px;
  background-color: inherit;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity $trans-default;

  &--bg-dark {
    color: $color-default-white;
    border: 4px solid $color-default-white;
  }

  &--bg-light {
    color: $color-sapphire;
    border: 2px solid $color-sapphire;
  }

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
