.card {
  padding: 68px 77px;
  background-color: $color-default-white;

  @include vp-1199 {
    padding: 68px 118px;
  }

  @include vp-767 {
    padding: 55px 42px;
  }

  &--active {
    padding: 61px 70px;
    border: 7px solid transparent;
    border-image: $red-to-blue;
    border-image-slice: 1;

    .card__btn {
      color: $color-default-white;
      background-image: $red-to-blue;
    }

    @include vp-1199 {
      padding: 61px 111px;
    }

    @include vp-767 {
      padding: 48px 35px;
    }
  }
}

.card__title {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 26px;
  line-height: 16px;
  text-align: center;

  @include vp-767 {
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 24px;
  }
}

.card__time {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #495a7d;
  text-align: center;
}

.card__price {
  position: relative;
  margin: 0;
  padding: 36px 50px 5px 20px;
  font-weight: 700;
  font-size: 60px;
  line-height: 150px;
  color: $color-egyptian-blue;
  z-index: 1;

  @include vp-767 {
    padding: 55px 50px 31px 39px;
    font-size: 48px;
    line-height: 72px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 90px;
    right: 20px;
    width: 30px;
    height: 42px;
    background-image: url("../../img/svg/rubles.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 42px;

    @include vp-767 {
      top: 75px;
      right: 35px;
      width: 24px;
      height: 33px;
      background-size: 24px 33px;
    }
  }
}

.card__bg {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: block;
  font-size: 100px;
  line-height: 150px;
  color: rgba(232, 232, 232, 0.46);
  z-index: -1;

  @include vp-767 {
    bottom: 26px;
    left: 23px;
    font-size: 80px;
    line-height: 120px;
  }
}

.card__btn {
  padding: 24px 42px;
}
