.coaches {
  padding: 6px $p-desktop 105px;
  overflow-x: hidden;

  @include vp-1199 {
    padding: 50px 101px 100px;
  }

  @include vp-767 {
    padding: 40px 47px 70px;
  }
}

.coaches__title {
  margin: 0 0 49px 2px;

  @include vp-1199 {
    margin-bottom: 30px;
    margin-left: 0;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 48px;
  }
}

.coaches__wrapper {
  position: relative;
}

.coaches__button-prev {
  position: absolute;
  top: 119px;
  left: -76px;

  @include vp-1199 {
    top: 41%;
    left: -76px;
  }

  @include vp-767 {
    top: 48%;
    left: -43px;
  }
}

.coaches__button-next {
  position: absolute;
  top: 119px;
  right: -76px;

  @include vp-1199 {
    top: 41%;
    right: -76px;
  }

  @include vp-767 {
    top: 48%;
    right: -43px;
  }
}
