.free-lesson {
  padding: 55px 168px 70px 101px;
  background-color: $color-sapphire;
  color: $color-default-white;
}

.free-lesson__title {
  margin: 0;
  font-weight: 800;
  font-size: 54px;
  line-height: 85px;
  letter-spacing: 2.52px;
}
