.games {
  display: flex;
  padding: 120px $p-desktop 100px;

  @include vp-1199 {
    padding: 100px 45px 50px;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 70px 15px 30px;
  }
}

.games__event-block {
  padding: 85px 77px 85px 76px;
  background-color: $color-torch-red-second;
  color: $color-default-white;

  @include vp-1199 {
    padding: 50px 44px;
  }

  @include vp-767 {
    padding: 50px 43px;
  }
}

.games__event-time {
  display: grid;
  grid-template-columns: 205px 94px;
  grid-template-rows: auto auto;
  gap: 13px 48px;
  margin-bottom: 9px;

  @include vp-1199 {
    grid-template-columns: 119px 57px;
    gap: 4px 28px;
    margin-bottom: 1px;
  }
}

.games__title {
  grid-row: -1 / 1;
  margin: 0;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  letter-spacing: 2.46px;
  text-align: center;

  @include vp-1199 {
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 1.44px;
  }
}

.games__subtitle {
  margin: 0 0 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  @include vp-1199 {
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 11px;
  }
}

.games__date {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  width: 64px;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: $color-default-white;
  }

  @include vp-1199 {
    width: 42px;

    &::before {
      top: 3px;
    }
  }
}

.games__figure {
  display: block;
  margin-right: 6px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  @include vp-1199 {
    margin-right: 4px;
    font-size: 24px;
    line-height: 36px;
  }
}

.games__month {
  display: block;
  width: 37px;
  line-height: 19px;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
  }
}

.games__time {
  position: relative;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: $color-default-white;
  }

  @include vp-1199 {
    &::before {
      top: 3px;
    }
  }
}

.games__text {
  margin: 0 0 46px;
  font-size: 18px;
  line-height: 27px;

  @include vp-1199 {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 18px;
  }
}

.games__button {
  width: 100%;
  padding: 26px 26px 25px;
  background-color: inherit;
  border: 4px solid $color-default-white;
  color: inherit;
  user-select: none;

  @include vp-1199 {
    padding: 13px 26px 14px;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.5px;
    border-width: 2px;
  }

  @include hover {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  @include focus {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
    outline: none;
  }

  &:active {
    background-color: $color-default-white;
    color: $color-sapphire;
    -webkit-text-fill-color: $color-sapphire;
  }

  &[aria-disabled="true"] {
    opacity: 0.4;
    pointer-events: none;
  }
}

.games__game-picture {
  min-height: 292px;

  @include vp-1199 {
    width: 100%;
    height: auto;
  }

  @include vp-767 {
    width: 100%;
    height: auto;
  }

  img {
    height: 100%;
    background-color: $color-dark-cerulean;
    color: $color-default-white;
    object-fit: cover;

    @include vp-1199 {
      width: 100%;
    }
  }
}
