.main-page {
  &--error {
    margin-top: -88px;
    padding: 51px $p-desktop;
    min-height: 658px;
    color: $color-default-white;

    @include conic-gradient(130.31deg, calc(50% - 465px) 257px);
  }
}

.main-page__title-error {
  margin: 0;
  padding: 90px;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 72px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-align: center;
}
