.nav {
  display: flex;
  align-items: flex-start;
  padding: 30px calc(50% - 565px) 15px;
}

.nav__link {
  font-family: "Alumni Sans";
  font-weight: 600;
  font-size: 26px;
  line-height: normal;
  letter-spacing: 0.78px;
  color: $white;
}
