.page-footer {
  display: flex;
  align-items: top;
  align-items: flex-end;
  padding: 41px calc(50% - 580px) 32px;
  background-color: $color-black-russian;
  color: $color-default-white;

  @include vp-1365 {
    padding: 41px 103px 32px;
  }

  @include vp-1199 {
    padding: 45px 45px 44px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 15px;
  }
}

.page-footer__link {
  display: block;
  align-self: flex-end;
  margin-right: auto;

  @include vp-1199 {
    align-self: center;
    margin-right: 55px;
    width: 80px;
    height: 19px;
  }

  @include vp-767 {
    align-self: flex-start;
    width: 68px;
    height: 15px;
  }
}
