.period-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 46px;
  margin: 0 auto 39px;
  padding: 0;
  width: 342px;
  list-style-type: none;

  @include vp-1199 {

  }

  @include vp-767 {

  }

  &::after {
    content: "";
      position: absolute;
      left: 409px;
      right: 409px;
      bottom: 0;
      height: 2px;
      background-color: rgba(120, 120, 120, 0.20);
  }
}

.period-list__link {
  position: relative;
  display: block;
  padding: 16px 0;
  font-size: 20px;
  color: rgba(16, 38, 84, 0.50);

  @include vp-1199 {
    padding: 14px 0;
    font-size: 18px;
    line-height: 26px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }

  &--active {
    color: $color-sapphire;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: #d10a42;
    }
  }
}
