.review {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 19px 28px;
  padding: 62px 62px 58px;
  background-color: #1c3374;
  color: $color-default-white;
  filter: drop-shadow(0 0 40px rgba(28, 51, 116, 0.2));

  @include vp-1199 {
    padding: 62px 65px 58px;
  }

  @include vp-767 {
    grid-template-columns: 84px 1fr;
    gap: 15px 15px;
    padding: 40px 25px 36px;
  }
}

.review picture {
  grid-row: 1 / 3;

  @include vp-767 {
    grid-row: 1 / 2;
    justify-self: end;
    align-self: end;
  }
}

.review img {
  background-color: #1c3374;
  border-radius: 50%;

  @include vp-767 {
    width: 68px;
    height: 68px;
  }
}

.review__name {
  grid-column: 2 / 3;
  margin: 0;
  font-size: 20px;
  line-height: 15px;

  @include vp-767 {
    padding-top: 8px;
    line-height: 26px;
  }
}

.review__text {
  grid-column: 2 / 3;
  margin: 0;
  font-size: 16px;
  line-height: 22px;

  @include vp-767 {
    grid-column: 1 / -1;
    text-align: center;
  }
}
