.sales {
  padding: 135px $p-desktop 120px;

  @include vp-1199 {
    padding: 91px 45px 100px;
  }

  @include vp-767 {
    padding: 70px 15px 71px;
  }
}

.sales__title {
  margin: 0 0 34px;
  text-align: center;

  @include vp-1199 {
    margin-bottom: 39px;
  }

  @include vp-767 {
    margin-bottom: 48px;
  }
}

.sales__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
