.site-list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 20px;
  padding: 0;
  margin: 0 0 0 268px;
  list-style-type: none;

  @include vp-1199 {
    gap: 10px;
    margin-left: 55px;
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      ". link3"
      "link1 link4"
      "link2 link5";
    gap: 16px 30px;
    margin-top: -20px;
    margin-left: 0;
    margin-bottom: 34px;
    width: 290px;
  }
}

.site-list__item {
  @include vp-767 {
    &--item1 {
      grid-area: link1;
    }

    &--item2 {
      grid-area: link2;
    }

    &--item3 {
      grid-area: link3;
    }

    &--item4 {
      grid-area: link4;
    }

    &--item5 {
      grid-area: link5;
    }
  }
}

.site-list__link {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  @include vp-767 {
    padding-left: 0;
    font-size: 16px;
    text-align: left;
  }
}
