.subscription {
  position: relative;
  padding: 120px $p-desktop;
  background-color: $color-ghost-white;


  @include vp-1199 {
    padding: 100px calc(50% - 221px);
  }

  @include vp-767 {
    padding: 70px $p-mobile;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -150px;
    right: 0;
    width: 287px;
    height: 494px;
    background-image: url("../img/bg-equipment.png");
    background-repeat: no-repeat;
    z-index: 0;

    @include vp-1199 {
      bottom: -125px;
      right: 0;
      width: 347px;
      height: 444px;
      background-image: url("../img/bg-equipment-tablet.png");
    }

    @include vp-767 {
      content: none;
    }
  }
}

.subscription__title {
  margin: 0 0 5px;
  text-align: center;

  @include vp-767 {
    margin-bottom: 11px;
  }
}

.subscription__wrapper {
  display: flex;
  flex-direction: column;
}
