.video__player {
  display: none;
}

.video.is-active {
  .video__player {
    display: block;

    @include vp-767 {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .video__control {
    display: none;
  }
}

.video__control {
  position: absolute;
  top: 28%;
  left: 36%;
  padding: 0;
  width: 100px;
  height: 100px;
  background-color: inherit;
  background-image: url("../img/svg/play-default.svg");
  background-size: 100px 100px;
  border: none;
  border-radius: 100px;
  z-index: 3;
  cursor: pointer;

  @include vp-1199 {
    width: 73px;
    height: 73px;
    background-size: 73px 73px;
    border-radius: 73px;
  }

  @include vp-767 {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:hover,
  &:focus {
    background-image: url("../img/svg/play-interface.svg");
    outline: none;
  }

  &:active {
    background-image: url("../img/svg/play-active.svg");
  }

  &:disabled {
    opacity: 0.4;
  }
}
