/* Colors */

$white: #ffffff;
$ghost-white: #f8f9fc;
$torch-red: #ff1420;
$torch-red-second: #ed0233;
$egyptian-blue: #103aae;
$sapphire: #102654;
$black-russian: #030a1a;

/* Colors-gradient */

$main-screen: conic-gradient(from 151deg at 16.03% 39.06%, #003d85 32.24deg, #b80027 313.31deg);
$text-gradient: linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
$bg-gradient: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
